# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Your code here
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [3]:
df.head(5)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [4]:
#determine data types of each column
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [5]:
#dimensions of the dataset
df.shape

(4008, 11)

In [ ]:
#¿¿how to evaluate if the data types are appropiate for the nature of the variable??

In [6]:
df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [7]:
df.sample(10)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
2838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,LP45550,Oregon,F,Doctor,1536384.72%,15897.0,101.0,1/0/00,Personal Auto,Four-Door Car,303.148399
1959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,IU25463,California,F,Bachelor,1225260.18%,0.0,115.0,1/1/00,Personal Auto,Four-Door Car,552.000000

In [9]:
# snake_case
df.columns = df.columns.str.lower().str.replace(" ", "_")
df.head(0)

Empty DataFrame
Columns: [customer, st, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

In [10]:
#suggestions to fix incorrect data types
# 1. Round to 2 decimals: 'Total Claim Amount'
df['total_claim_amount'] = df['total_claim_amount'].apply(lambda x: round(x, 2))

In [ ]:
##numerical columns & range of values

In [11]:
num = df.select_dtypes(include = 'number')
num

       income  monthly_premium_auto  total_claim_amount
0         0.0                1000.0                2.70
1         0.0                  94.0             1131.46
2     48767.0                 108.0              566.47
3         0.0                 106.0              529.88
4     36357.0                  68.0               17.27
...       ...                   ...                 ...
4003      NaN                   NaN                 NaN
4004      NaN                   NaN                 NaN
4005      NaN                   NaN                 NaN
4006      NaN                   NaN                 NaN
4007      NaN                   NaN                 NaN

[4008 rows x 3 columns]

In [12]:
import numpy as np

In [13]:
df.income.unique()

array([    0., 48767., 36357., 62902., 55350., 14072., 28812., 77026.,
       99845., 83689., 24599., 25049., 28855., 51148., 66140., 57749.,
       61040., 17870., 97541., 29723., 86584., 75690., 23158., 65999.,
       37260., 68987., 42305., 65706., 53243., 50071., 60021., 43244.,
       46896., 10105., 23218., 24804., 33190., 36014., 67163., 16701.,
       46623., 64749., 16969., 11621., 17622., 11489., 66525., 33663.,
       22547., 61486., 29879., 93011., 65186., 26840., 75644., 38984.,
       71811., 20961., 41275., 61321., 51066., 34378., 43072., 25222.,
       77552., 23091., 48269., 32720., 20396., 21513., 80744., 52822.,
       69738., 17780., 18107., 57740., 32627., 65795., 60475., 41837.,
       32303., 40531., 79898., 56398., 71600., 27804., 45506., 99428.,
       20993., 37839., 92711., 74665., 61108., 46833., 88768., 28262.,
       33555., 42780., 58850., 21880., 25251., 25317., 24188., 41611.,
       28406., 69833., 80536., 88891., 97732., 61222., 50335., 82210.,
       64495., 28859., 77330., 33060., 42557., 26372., 17514., 89270.,
       29757., 51814., 24028., 28142., 52705., 54040., 22492., 21876.,
       70699., 27501., 15897., 25141., 28358., 62530., 90972., 63110.,
       29549., 39411., 21709., 67890., 84311., 99316., 54507., 64586.,
       61709., 94656., 61085., 89284., 31686., 56855., 53703., 27679.,
       23904., 65351., 64459., 32961., 71416., 68964., 78108., 10621.,
       84910., 77493., 81097., 96610., 30110., 22081., 98473., 97431.,
       93870., 50366., 34498., 16552., 26787., 43860., 21474., 18174.,
       60920., 41520., 72208., 53863., 66446., 64997., 64460., 46618.,
       49988., 16269., 72006., 44320., 19782., 63933., 28224., 21073.,
       63243., 94827., 39161., 37534., 80210., 21708., 94731., 32375.,
       16531., 32006., 81676., 71038., 20832., 52405., 26583., 25486.,
       24065., 70435., 39679., 53565., 37574., 48259., 78532., 96163.,
       72672., 99002., 79494., 35704., 26049., 70125., 52369., 41770.,
       31911., 70051., 19683., 30916., 84302., 60145., 63774., 25134.,
       37057., 58577., 85857., 70602., 33816., 89642., 60068., 50044.,
       36650., 50653., 68931., 39266., 40864., 39035., 34923., 24506.,
       52220., 53554., 34476., 68205., 53690., 74454., 29664., 72450.,
       47272., 21585., 23827., 69906., 73196., 72217., 46131., 54514.,
       96668., 78879., 29735., 23082., 53984., 52135., 17576., 29486.,
       58557., 25632., 18768., 47945., 58778., 15192., 51859., 23422.,
       21604., 79298., 76731., 38460., 48534., 30817., 48412., 68798.,
       23712., 72196., 68197., 75248., 89879., 46998., 57099., 33897.,
       59207., 40171., 80192., 74422., 34226., 65989., 30686., 20090.,
       77094., 97413., 79189., 18577., 62777., 17483., 84394., 41440.,
       98132., 88220., 58327., 25950., 65726., 84768., 36234., 58842.,
       25629., 77311., 95697., 22254., 65974., 92079., 67752., 25398.,
       33321., 38923., 20325., 13129., 49080., 42536., 29926., 21450.,
       33345., 15752., 40169., 55411., 12459., 64620., 83140., 54422.,
       68309., 56621., 38977., 83235., 32390., 66538., 23285., 76358.,
       21104., 12964., 33288., 56168., 23105., 36218., 52275., 49665.,
       32471., 62773., 76694., 55687., 36633., 77060., 92600., 64801.,
       45257., 26854., 85840., 26463., 30689., 29590., 25965., 17269.,
       90330., 18558., 46384., 42303., 71731., 26173., 24445., 72302.,
       27208., 30855., 99960., 55873., 18052., 28937., 12829., 92163.,
       17588., 41546., 70340., 34549., 93459., 86148., 27048., 73259.,
       35482., 29462., 67801., 16042., 28056., 16495., 41163., 33799.,
       90125., 87747., 35695., 90985., 66839., 79090., 24825., 26806.,
       56835., 46135., 22862., 95854., 44897., 64455., 53265., 50450.,
       54780., 67798., 21442., 27615., 50200., 73570., 70412., 36631.,
       35895., 93018., 70014., 48875., 67969., 68665., 26802., 45345.,
       89689., 32051., 81139., 63834., 37548., 72421., 83102., 28432.,
       83707., 63259., 63860., 43836., 86132., 28519., 39102., 97298.,
       41986., 17291., 37256., 96306., 14290., 37038., 90760., 77048.,
       54480., 16244., 22436., 71592., 28728., 57449., 83318., 75217.,
       55308., 36068., 48804., 55790., 70258., 47274., 44705., 70446.,
       64348., 88997., 10312., 96263., 28919., 41869., 32808., 79780.,
       91025., 33043., 69442., 47234., 86863., 25805., 43676., 59855.,
       35296., 36576., 28513., 85448., 23791., 20597., 56940., 93210.,
       48992., 53736., 25378., 37722., 69379., 33806., 94041., 74965.,
       34095., 96045., 86355., 27824., 42995., 21235., 74585., 41833.,
       23908., 61953., 73760., 23333., 20440., 27658., 50943., 19003.,
       46703., 21733., 20811., 11904., 43490., 57340., 49088., 47761.,
       61281., 25290., 24239., 82664., 83210., 38736., 55437., 68041.,
       29066., 54337., 67616., 41082., 50631., 19592., 55761., 41449.,
       62007., 21921., 42621., 63786., 82877., 10475., 21952., 49721.,
       88340., 24589., 73769., 66670., 88854., 31266., 67267., 79270.,
       36692., 44624., 19614., 83846., 51159., 83772., 88440., 25666.,
       52926., 40001., 18024., 23220., 64125., 58042., 90034., 27972.,
       50989., 11885., 89451., 78904., 70247., 32653., 93595., 90279.,
       53310., 22234., 91375., 22250., 51179., 38667., 79487., 67763.,
       71943., 53526., 35005., 24721., 48587., 76310., 73205., 51056.,
       58414., 23940., 44216., 29305., 53882., 91757., 33906., 68158.,
       42165., 68074., 84978., 71135., 64642., 46754., 70410., 66957.,
       24213., 99790., 79751., 86122., 82297., 89057., 43259., 25064.,
       25816., 41662., 96170., 46072., 37931., 35127., 45473., 93087.,
       22398., 92983., 27689., 69654., 18608., 73168., 70930., 62262.,
       91474., 61469., 16618., 48081., 67632., 34115., 23051., 23748.,
       40589., 50809., 66676., 52339., 14973., 31546., 20836., 88592.,
       66943., 81872., 22404., 21342., 34621., 62396., 97212., 49648.,
       97984., 26308., 63528., 20225., 87620., 34990., 99934., 60804.,
       94648., 24516., 61063., 15169., 55390., 27592., 61846., 83297.,
       55897., 21297., 87560., 89398., 36843., 34946., 75680., 49532.,
       10269., 49714., 77517., 81082., 72540., 61546., 44818., 79797.,
       92717., 63568., 73935., 18846., 38893., 84824., 20068., 97245.,
       51808., 71391., 23496., 55561., 23986., 22974., 61844., 27760.,
       52266., 23599., 36088., 70534., 27398., 85296., 31063., 52367.,
       58651., 84831., 70263., 45354., 28334., 38772., 41479., 23909.,
       48328., 86689., 24204., 25943., 62375., 70200., 79027., 62935.,
       26893., 47406., 27572., 32802., 62739., 90844., 44685., 42589.,
       93383., 79583., 89129., 94389., 84106., 76717., 51978., 47325.,
       86721., 24910., 43817., 59537., 54193., 86946., 12160., 33701.,
       85702., 69417., 38644., 63209., 16061., 54230.,    nan])

In [14]:
central_tendency_income = {} #this I found in Stackoverflow
central_tendency_income['Mean'] = df['income'].mean()
central_tendency_income['Median'] = df['income'].median()
central_tendency_income['Mode'] = df['income'].mode()#si

central_tendency_income

{'Mean': 39295.70121381886,
 'Median': 36234.0,
 'Mode': 0    0.0
 Name: income, dtype: float64}

In [15]:
df.monthly_premium_auto.unique()

array([ 1000.,    94.,   108.,   106.,    68.,    69.,    67.,   101.,
          71.,    93.,   110.,    70.,    64.,    72.,    74.,    79.,
          73.,    61.,   111.,    80.,    63.,   237.,    65.,   130.,
          62.,   117.,    91.,    90.,    66.,    99.,   103., 35354.,
         172.,    92.,   104.,   113.,   124.,   105.,   100.,   112.,
          97.,    95.,   102.,    96.,   186.,    77.,    76.,   119.,
          87.,   109.,   107.,    88.,    85.,  6464.,   133.,    86.,
          78.,    89.,   192.,   118.,   140.,   127.,   126.,    82.,
         115.,   217.,   114.,   138.,    81.,   255.,   150.,   123.,
         116.,   190.,    98.,   159.,    84.,    83.,   152.,   136.,
         245.,   135.,  1005.,   225.,   132.,   153.,   121.,   139.,
         154.,   161.,   156.,   171.,   244.,   183.,   176.,   230.,
         129.,   177.,   181.,   196.,   131.,   276.,   253.,   137.,
         180.,   203.,   147.,   165.,   198.,   125.,   193.,   128.,
         271.,   142., 10202.,   206.,   182.,   189.,   160.,   295.,
         210.,   134., 35353.,   239.,   188.,   256.,   173.,   285.,
         148.,   141.,   197.,   199.,    nan])

In [16]:
central_tendency_monthly_premium_auto = {}
central_tendency_monthly_premium_auto['Mean'] = df['monthly_premium_auto'].mean()
central_tendency_monthly_premium_auto['Median'] = df['monthly_premium_auto'].median()
central_tendency_monthly_premium_auto['Mode'] = df['monthly_premium_auto'].mode()

central_tendency_monthly_premium_auto

{'Mean': 193.234360410831,
 'Median': 83.0,
 'Mode': 0    65.0
 Name: monthly_premium_auto, dtype: float64}

In [17]:
df.total_claim_amount.unique()

array([2.70000e+00, 1.13146e+03, 5.66470e+02, 5.29880e+02, 1.72700e+01,
       1.59380e+02, 3.21600e+02, 3.63030e+02, 5.11200e+02, 4.25530e+02,
       4.82400e+02, 5.28000e+02, 4.72030e+02, 3.07140e+02, 4.29200e+01,
       4.54250e+02, 6.47440e+02, 3.08980e+02, 4.84800e+02, 3.55200e+02,
       2.03800e+01, 5.54380e+02, 4.39200e+02, 3.89190e+02, 7.99200e+02,
       2.09900e+01, 5.32800e+02, 3.84000e+02, 3.22290e+02, 6.15930e+02,
       3.08150e+02, 2.38200e+01, 1.54400e+01, 2.04480e+02, 5.61600e+02,
       4.36800e+02, 6.48000e+02, 1.57400e+02, 4.84320e+02, 1.89200e+01,
       8.82870e+02, 4.94400e+02, 3.17100e+01, 5.20000e-01, 5.79170e+02,
       4.47790e+02, 5.29620e+02, 3.13020e+02, 5.93830e+02, 5.08800e+02,
       1.73960e+02, 3.31900e+01, 8.31630e+02, 3.02570e+02, 7.04770e+02,
       5.18400e+02, 3.12000e+02, 5.04000e+02, 8.63330e+02, 1.04330e+02,
       6.76390e+02, 3.50400e+02, 5.37600e+02, 4.65260e+02, 4.56000e+02,
       5.00250e+02, 2.81450e+02, 5.43000e+00, 3.07200e+02, 9.82400e+02,
       4.67800e+02, 2.90300e+01, 4.11200e+01, 4.27630e+02, 2.58100e+01,
       7.87990e+02, 4.89600e+02, 3.02400e+02, 4.75620e+02, 4.52200e+01,
       4.60800e+02, 2.82150e+02, 3.64800e+02, 6.79830e+02, 4.60400e+01,
       1.18800e+01, 3.50530e+02, 8.63390e+02, 4.92130e+02, 1.32590e+02,
       2.97600e+02, 2.69910e+02, 3.80040e+02, 5.13600e+02, 4.25270e+02,
       4.90100e+01, 9.36000e+02, 1.42060e+02, 4.51500e+01, 3.05700e+01,
       2.71610e+02, 4.08000e+02, 4.61600e+01, 7.84800e+02, 3.16800e+02,
       4.80500e+01, 6.38400e+02, 4.65630e+02, 3.68400e+02, 2.36900e+02,
       4.94500e+01, 6.41100e+01, 3.26400e+02, 9.21600e+02, 1.01900e+02,
       5.42400e+02, 1.43750e+02, 4.24080e+02, 5.04200e+01, 5.23200e+02,
       1.13800e+02, 1.92880e+02, 8.28660e+02, 9.75110e+02, 5.38000e+01,
       5.05300e+01, 2.89910e+02, 3.92600e+02, 7.21240e+02, 4.56520e+02,
       1.08800e+03, 5.19600e+01, 2.51990e+02, 3.45600e+02, 9.92600e+01,
       5.67300e+01, 5.75600e+01, 6.04800e+02, 8.31000e+00, 3.16600e+02,
       5.63000e+01, 3.93600e+02, 7.01710e+02, 1.28710e+02, 6.79370e+02,
       5.99900e+01, 5.66400e+02, 6.16500e+01, 5.54400e+02, 4.65410e+02,
       4.96800e+02, 2.92800e+02, 2.56810e+02, 5.42320e+02, 3.03150e+02,
       2.54400e+01, 8.40200e+01, 6.16900e+01, 2.32930e+02, 6.81800e+01,
       7.10430e+02, 5.52000e+02, 1.12266e+03, 4.08370e+02, 7.92000e+02,
       7.54360e+02, 7.02990e+02, 2.06840e+02, 2.75400e+02, 4.59740e+02,
       3.36000e+02, 4.30990e+02, 1.83600e+03, 6.76300e+01, 8.44480e+02,
       7.22490e+02, 5.90400e+02, 4.81030e+02, 1.12443e+03, 6.69680e+02,
       1.28409e+03, 2.40260e+02, 9.12000e+02, 5.56800e+02, 1.15090e+02,
       4.70400e+02, 3.83170e+02, 3.07960e+02, 5.20360e+02, 4.66440e+02,
       4.51670e+02, 3.31200e+02, 4.28730e+02, 3.98400e+02, 3.69600e+02,
       8.31750e+02, 1.56120e+02, 3.73430e+02, 3.95930e+02, 2.31200e+02,
       2.89900e+02, 7.29600e+02, 1.05770e+02, 6.39460e+02, 3.83440e+02,
       9.90900e+01, 5.66940e+02, 4.12800e+02, 3.88800e+02, 2.34541e+03,
       7.73470e+02, 4.24880e+02, 3.64240e+02, 3.54730e+02, 2.84000e+02,
       4.03200e+02, 2.05400e+01, 3.85120e+02, 1.40170e+02, 1.02880e+02,
       5.68700e+01, 4.63160e+02, 2.05440e+02, 7.41600e+02, 5.63700e+01,
       8.13600e+02, 7.95860e+02, 6.14400e+02, 7.24400e+01, 6.78800e+01,
       4.02640e+02, 6.41390e+02, 3.42480e+02, 3.40800e+02, 4.12100e+02,
       7.37000e+01, 3.74400e+02, 7.22020e+02, 2.59360e+02, 3.96300e+02,
       3.58280e+02, 6.53390e+02, 1.21030e+02, 9.28100e+01, 1.59640e+02,
       4.76160e+02, 7.27200e+02, 4.20800e+01, 2.00120e+02, 6.76940e+02,
       7.66100e+01, 8.30620e+02, 5.80470e+02, 6.00400e+01, 4.75300e+01,
       3.03870e+02, 1.00620e+02, 4.81340e+02, 1.10160e+03, 8.63200e+01,
       6.67200e+02, 5.66000e+01, 2.62870e+02, 3.09580e+02, 3.65360e+02,
       7.05600e+02, 9.52000e+00, 2.44560e+02, 6.39110e+02, 4.53600e+02,
       5.54520e+02, 4.02450e+02, 3.27020e+02, 5.40000e+00, 1.31400e+02,
       9.93800e+01, 8.56800e+02, 7.39200e+02, 8.42200e+01, 6.45500e+01,
       4.41600e+02, 3.79100e+01, 2.02860e+02, 8.58100e+01, 9.11500e+01,
       2.86230e+02, 1.15920e+03, 4.66570e+02, 1.25241e+03, 4.21480e+02,
       4.30510e+02, 3.98500e+02, 7.65000e+00, 5.55100e+01, 3.51270e+02,
       8.06400e+02, 6.47450e+02, 1.28440e+02, 3.02030e+02, 4.80000e+02,
       1.00316e+03, 3.79200e+02, 2.44360e+02, 2.01460e+02, 9.15500e+01,
       9.18300e+01, 7.07430e+02, 9.29200e+01, 3.76130e+02, 1.52180e+02,
       1.76820e+02, 1.04450e+02, 9.41720e+02, 4.68000e+02, 9.40300e+01,
       6.78600e+01, 5.39840e+02, 9.51900e+01, 9.53400e+01, 6.26400e+02,
       1.15550e+02, 1.99400e+01, 7.99930e+02, 8.78400e+02, 4.44470e+02,
       2.68820e+02, 1.01290e+02, 1.31760e+03, 6.91410e+02, 8.04810e+02,
       1.09086e+03, 5.05900e+01, 1.51530e+02, 3.47080e+02, 2.71700e+02,
       8.49600e+02, 1.10480e+02, 1.13530e+02, 5.95200e+02, 1.13610e+02,
       1.33706e+03, 1.14270e+02, 1.25190e+02, 2.35220e+02, 3.95340e+02,
       1.14800e+02, 7.72800e+02, 6.33600e+02, 1.68520e+02, 8.45650e+02,
       1.15730e+02, 6.68290e+02, 7.00900e+02, 5.25600e+02, 2.53000e+01,
       3.75330e+02, 4.18230e+02, 3.98240e+02, 9.38510e+02, 3.38620e+02,
       3.39340e+02, 3.02820e+02, 6.19170e+02, 2.59560e+02, 1.79160e+02,
       6.62400e+02, 7.55000e+01, 3.06980e+02, 8.40300e+01, 1.39490e+02,
       6.07450e+02, 6.31120e+02, 6.28020e+02, 4.26660e+02, 9.14200e+01,
       3.17840e+02, 1.18450e+02, 8.64600e+01, 3.62770e+02, 2.21860e+02,
       9.80170e+02, 6.14680e+02, 1.45250e+02, 3.74240e+02, 6.19200e+02,
       8.06700e+01, 1.32480e+03, 4.68570e+02, 8.42440e+02, 4.75200e+02,
       1.17193e+03, 2.68470e+02, 1.38720e+02, 4.67250e+02, 4.67500e+02,
       1.21440e+03, 1.92090e+02, 6.19970e+02, 1.00278e+03, 2.51770e+02,
       8.66210e+02, 1.21092e+03, 5.99650e+02, 2.02772e+03, 7.28500e+01,
       4.49820e+02, 2.59060e+02, 2.99360e+02, 6.99170e+02, 1.17960e+02,
       5.45240e+02, 3.28230e+02, 6.65700e+01, 1.38240e+03, 1.21310e+02,
       6.09600e+02, 1.25930e+02, 6.55410e+02, 6.73340e+02, 2.38100e+01,
       4.51200e+02, 2.31920e+02, 6.64980e+02, 1.28650e+02, 4.64900e+01,
       4.32000e+02, 7.80900e+01, 5.64470e+02, 2.89040e+02, 1.55940e+02,
       3.26550e+02, 6.53660e+02, 1.03940e+02, 8.09530e+02, 5.80730e+02,
       1.33740e+02, 2.38010e+02, 1.57767e+03, 1.35890e+02, 1.35260e+02,
       5.71200e+02, 6.37060e+02, 7.59400e+01, 1.36290e+02, 6.75300e+01,
       3.12920e+02, 1.66940e+02, 1.35380e+02, 1.77400e+01, 1.84000e+00,
       1.97780e+02, 6.12100e+02, 1.19304e+03, 6.00000e+02, 1.36830e+02,
       9.26400e+02, 3.92640e+02, 2.15230e+02, 1.60600e+02, 3.71800e+02,
       4.43670e+02, 6.12300e+02, 2.90390e+02, 4.05530e+02, 2.08600e+02,
       1.38130e+02, 3.01440e+02, 4.56470e+02, 1.52340e+02, 4.91760e+02,
       4.85200e+01, 4.30380e+02, 2.46490e+02, 1.28970e+02, 1.85360e+02,
       1.30080e+03, 9.07000e+00, 1.33480e+02, 1.41200e+02, 6.23220e+02,
       4.27200e+02, 1.41730e+02, 2.11340e+02, 1.47080e+02, 8.62760e+02,
       1.13370e+02, 9.43200e+02, 1.17670e+02, 2.25150e+02, 1.82430e+02,
       1.48170e+02, 1.55570e+02, 2.12390e+02, 1.74040e+02, 4.86280e+02,
       1.92000e+00, 2.62120e+02, 5.41700e+02, 3.27680e+02, 1.26557e+03,
       6.30400e+01, 1.56300e+01, 3.75870e+02, 4.52620e+02, 1.13450e+02,
       1.60300e+01, 6.15270e+02, 6.15260e+02, 5.12660e+02, 7.45200e+01,
       4.26070e+02, 1.69290e+02, 4.19460e+02, 1.58080e+02, 6.69600e+02,
       3.95730e+02, 1.59760e+02, 5.85600e+01, 8.58000e+00, 2.85420e+02,
       4.10510e+02, 2.44230e+02, 2.18600e+02, 6.43830e+02, 4.97050e+02,
       1.02240e+03, 6.57600e+02, 2.30250e+02, 5.62000e+00, 1.60080e+02,
       3.46500e+01, 6.78100e+02, 1.74590e+02, 1.59390e+02, 6.98400e+02,
       2.32710e+02, 1.63050e+02, 7.98700e+01, 3.82090e+02, 4.83500e+01,
       1.33430e+02, 5.61410e+02, 4.45290e+02, 1.65570e+02, 8.44230e+02,
       3.40310e+02, 1.06650e+02, 6.26120e+02, 7.84660e+02, 5.47200e+02,
       8.62800e+01, 6.35200e+01, 1.20020e+02, 1.25414e+03, 4.17600e+02,
       7.98000e+02, 8.20400e+01, 2.28200e+01, 4.22400e+02, 6.39970e+02,
       5.11500e+02, 2.39540e+02, 5.18180e+02, 7.15250e+02, 4.02070e+02,
       9.48100e+01, 9.72000e+02, 7.38800e+01, 5.74020e+02, 6.32720e+02,
       4.24000e+00, 4.22500e+01, 2.71500e+01, 2.70000e+02, 4.94950e+02,
       1.42570e+02, 2.51330e+02, 3.69820e+02, 1.61420e+02, 2.56000e+02,
       6.17700e+01, 1.31040e+03, 2.50000e+02, 1.41800e+02, 4.98000e+01,
       3.72180e+02, 5.42140e+02, 1.36080e+03, 7.68000e+02, 7.26300e+01,
       7.20600e+02, 5.76000e+02, 4.66180e+02, 1.59270e+02, 4.12800e+01,
       5.03810e+02, 8.59600e+02, 3.05650e+02, 2.78900e+02, 1.41600e+03,
       1.39960e+02, 7.34400e+02, 3.73000e+01, 9.58200e+01, 1.00800e+03,
       4.46400e+02, 7.22100e+01, 4.01590e+02, 2.53180e+02, 6.43200e+02,
       7.99670e+02, 2.79900e+01, 1.66770e+02, 2.70560e+02, 1.78010e+02,
       4.04270e+02, 5.13820e+02, 1.31830e+02, 6.28800e+02, 1.78990e+02,
       3.92240e+02, 8.73600e+02, 3.80000e-01, 1.87360e+02, 3.50850e+02,
       2.17970e+02, 2.59300e+01, 1.88940e+02, 1.53210e+02, 2.89324e+03,
       6.29530e+02, 3.61280e+02, 1.18599e+03, 4.25800e+02, 1.90430e+02,
       1.93510e+02, 2.40900e+01, 2.19290e+02, 8.81360e+02, 2.69500e+01,
       4.66120e+02, 6.07100e+02, 2.90380e+02, 5.58100e+02, 8.28000e+02,
       5.40510e+02, 1.00050e+02, 5.98600e+01, 1.93570e+02, 1.99800e+02,
       5.30800e+01, 2.56440e+02, 2.11140e+02, 7.43500e+01, 6.21460e+02,
       3.60060e+02, 6.59500e+01, 4.07450e+02, 1.22880e+03, 2.40600e+01,
       3.11330e+02, 4.26900e+01, 4.60320e+02, 2.13230e+02, 3.00610e+02,
       2.62500e+02, 2.63370e+02, 2.56270e+02, 2.15820e+02, 1.35360e+03,
       4.99200e+02, 4.55100e+01, 6.91200e+02, 8.24100e+01, 3.57640e+02,
       4.20360e+02, 1.36790e+02, 2.20190e+02, 1.70800e+02, 2.66170e+02,
       9.89200e+01, 2.81300e+02, 6.31740e+02, 2.92100e+01, 1.36880e+02,
       3.17600e+01, 2.24280e+02, 8.30400e+02, 4.80160e+02, 3.90790e+02,
       7.20700e+01, 4.19700e+01, 1.02700e+03, 3.19820e+02, 4.11010e+02,
       4.11000e+00, 3.51150e+02, 4.96470e+02, 9.25140e+02, 1.31600e+01,
       2.27870e+02, 4.63340e+02, 1.80670e+02, 3.02760e+02, 1.41920e+02,
       3.49780e+02, 5.40700e+01, 3.42520e+02, 1.02718e+03, 2.75990e+02,
       4.72600e+02, 1.33693e+03, 7.35000e+00, 5.40140e+02, 3.83360e+02,
       5.37770e+02, 3.21870e+02, 1.95800e+01, 1.08140e+02, 7.07300e+02,
       1.06733e+03, 8.07950e+02, 6.18630e+02, 7.10400e+02, 7.07980e+02,
       2.32240e+02, 6.82300e+01, 2.87150e+02, 3.91640e+02, 2.39330e+02,
       2.32670e+02, 3.36510e+02, 2.44210e+02, 3.28870e+02, 8.50600e+01,
       1.41840e+03, 3.34410e+02, 4.21000e+01, 3.00530e+02, 1.44780e+02,
       6.46000e+01, 3.47860e+02, 2.45450e+02, 9.55200e+02, 7.20750e+02,
       3.40660e+02, 5.46520e+02, 4.89410e+02, 1.71330e+02, 2.49090e+02,
       3.08700e+01, 3.61460e+02, 2.07320e+02,         nan])

In [18]:
central_tendency_total_claim_amount = {}
central_tendency_total_claim_amount['Mean'] = df['total_claim_amount'].mean()
central_tendency_total_claim_amount['Median'] = df['total_claim_amount'].median()
central_tendency_total_claim_amount['Mode'] = df['total_claim_amount'].mode()

central_tendency_total_claim_amount

{'Mean': 404.9869281045752,
 'Median': 354.73,
 'Mode': 0    321.6
 Name: total_claim_amount, dtype: float64}

In [19]:
#¿¿¿Is this useful???
sorted_income= np.sort(df.income.unique()) #we are sorting the array, so we can do mean, mode, median ???
sorted_monthly_premium_auto= np.sort(df.monthly_premium_auto.unique())

In [20]:
cat = df.select_dtypes(exclude = 'number')
cat

,customer,st,gender,education,customer_lifetime_value,number_of_open_complaints,policy_type,vehicle_class
0,RB50392,Washington,NaN,Master,NaN,1/0/00,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,697953.59%,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,764586.18%,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,1/0/00,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.customer.unique()

array(['RB50392', 'QZ44356', 'AI49188', ..., 'CW49887', 'MY31220', nan],
      dtype=object)

In [22]:
df.customer.value_counts()

customer
RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: count, Length: 1071, dtype: int64

In [23]:
df.st.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [24]:
df.st.value_counts()

st
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [25]:
df.gender.unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [26]:
df.gender.value_counts()

gender
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [27]:
df.education.unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [28]:
df.education.value_counts()

education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

In [29]:
df.customer_lifetime_value.unique()

array([nan, '697953.59%', '1288743.17%', ..., '2031499.76%', '323912.47%',
       '899704.02%'], dtype=object)

In [30]:
df.customer_lifetime_value.value_counts()

customer_lifetime_value
445811.34%     4
251459.20%     4
272535.64%     3
578018.22%     3
684615.03%     3
              ..
245357.08%     1
507566.27%     1
321497.94%     1
1227534.31%    1
899704.02%     1
Name: count, Length: 1027, dtype: int64

In [31]:
df['customer_lifetime_value'].nunique()

1027

In [32]:
df.number_of_open_complaints.unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [33]:
df.number_of_open_complaints.value_counts()

number_of_open_complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

In [34]:
df.policy_type.unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [35]:
df.policy_type.value_counts()

policy_type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [36]:
df.vehicle_class.unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [37]:
df.vehicle_class.value_counts()

vehicle_class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

In [38]:
df['vehicle_class'].nunique()

6

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [41]:
# Your code here
df.st.value_counts()

st
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

In [40]:
df.st=df.st.replace("WA", "Washington") #we are replacing WA for Washington to harmonise result
df.st=df.st.replace("AZ", "Arizona")
df.st=df.st.replace("Cali", "California")

In [53]:
# retrieve the top 5 less common locations in ascending order
locations = df['st'].value_counts()
less_common = locations.nsmallest(5)
less_common

st
Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: count, dtype: int64

In [57]:
#create a pandas series
data_location = {'Location': ['Nevada', 'Washington', 'Arizona', 'Oregon', 'California'],
                'Frequency': [98, 111, 211, 320, 331]}
df_location = pd.DataFrame(data_location)
df_location

     Location  Frequency
0      Nevada         98
1  Washington        111
2     Arizona        211
3      Oregon        320
4  California        331

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
# Your code here

In [58]:
df.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.70
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.46
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.47
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.88
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.27

In [66]:
df.policy_type.value_counts()

policy_type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [67]:
data_policy_type = {'Policy type': ['Personal Auto', 'Corporate Auto', 'Special Auto'],
                'Amount sold': [780, 234, 57]}
df_policy_type = pd.DataFrame(data_policy_type)
df_policy_type

      Policy type  Amount sold
0   Personal Auto          780
1  Corporate Auto          234
2    Special Auto           57

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [71]:
# Your code here

df2 = df[['policy_type', 'income']]
df2

         policy_type   income
0      Personal Auto      0.0
1      Personal Auto      0.0
2      Personal Auto  48767.0
3     Corporate Auto      0.0
4      Personal Auto  36357.0
...              ...      ...
4003             NaN      NaN
4004             NaN      NaN
4005             NaN      NaN
4006             NaN      NaN
4007             NaN      NaN

[4008 rows x 2 columns]

In [75]:
income_mean = df2['income'].mean()
income_mean

39295.70121381886

In [79]:
personal_auto = df2.loc[df['policy_type'] == 'Personal Auto']
corporate_auto = df2.loc[df['policy_type'] == 'Corporate Auto']

In [86]:
income_personal_auto = personal_auto['income'].mean()
income_corporate_auto = corporate_auto['income'].mean()
print(f"Average income for Personal Auto policies: {round(income_personal_auto,2)}")
print(f"Average income for Corporate Auto policies: {round(income_corporate_auto,2)}")

Average income for Personal Auto policies: 38180.7
Average income for Corporate Auto policies: 41390.31

In [84]:
round(income_personal_auto,2)

38180.7

In [85]:
round(income_corporate_auto,2)

41390.31

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   st                         1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   object
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   object
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here