# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Your code here
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [3]:
df.head(5)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [4]:
# snake_case --> standarise all the names to lowercase with uunderscore (_)
df.columns = df.columns.str.lower().str.replace(" ", "_")
df.head(0)

Empty DataFrame
Columns: [customer, st, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

In [5]:
#dimensions of the dataset
df.shape

(4008, 11)

In [6]:
# general overview
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   st                         1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   object
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   object
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [7]:
#determine data types of each column and see if they are appropriate
df.dtypes

customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [ ]:
#with this result we can say that n

In [8]:
df.nunique()

customer                     1071
st                              8
gender                          5
education                       6
customer_lifetime_value      1027
income                        774
monthly_premium_auto          132
number_of_open_complaints       6
policy_type                     3
vehicle_class                   6
total_claim_amount            761
dtype: int64

In [9]:
#with the unique values we can notice things like, there are 5 different genders, which means that there are data inconsistencies. 
df['gender'].value_counts()

gender
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [11]:
#we harmonise them
df['gender']=df['gender'].replace("Male", "M")
df['gender']=df['gender'].replace("female", "F")
df['gender']=df['gender'].replace("Femal", "F")
df['gender'].value_counts()

gender
F    502
M    452
Name: count, dtype: int64

In [12]:
#suggestions to fix incorrect data types
# 1. Round to 2 decimals: 'Total Claim Amount'
df['total_claim_amount'] = df['total_claim_amount'].apply(lambda x: round(x, 2))

In [13]:
##numerical columns & range of values

In [17]:
num = df.select_dtypes(include = 'number')
num

       income  monthly_premium_auto  total_claim_amount
0         0.0                1000.0                2.70
1         0.0                  94.0             1131.46
2     48767.0                 108.0              566.47
3         0.0                 106.0              529.88
4     36357.0                  68.0               17.27
...       ...                   ...                 ...
4003      NaN                   NaN                 NaN
4004      NaN                   NaN                 NaN
4005      NaN                   NaN                 NaN
4006      NaN                   NaN                 NaN
4007      NaN                   NaN                 NaN

[4008 rows x 3 columns]

In [18]:
import numpy as np

In [11]:
#df.income.unique()

In [14]:
central_tendency_income = {} #this I found in Stackoverflow
central_tendency_income['Mean'] = df['income'].mean()
central_tendency_income['Median'] = df['income'].median()
central_tendency_income['Mode'] = df['income'].mode()#si

central_tendency_income

{'Mean': 39295.70121381886,
 'Median': 36234.0,
 'Mode': 0    0.0
 Name: income, dtype: float64}

In [10]:
#df.monthly_premium_auto.unique()

In [16]:
central_tendency_monthly_premium_auto = {}
central_tendency_monthly_premium_auto['Mean'] = df['monthly_premium_auto'].mean()
central_tendency_monthly_premium_auto['Median'] = df['monthly_premium_auto'].median()
central_tendency_monthly_premium_auto['Mode'] = df['monthly_premium_auto'].mode()

central_tendency_monthly_premium_auto

{'Mean': 193.234360410831,
 'Median': 83.0,
 'Mode': 0    65.0
 Name: monthly_premium_auto, dtype: float64}

In [9]:
#df.total_claim_amount.unique()

In [20]:
num.income.describe() #we are using num as a df because we did it of only columns with numerical data

count     1071.000000
mean     39295.701214
std      30469.427060
min          0.000000
25%      14072.000000
50%      36234.000000
75%      64631.000000
max      99960.000000
Name: income, dtype: float64

In [18]:
central_tendency_total_claim_amount = {}
central_tendency_total_claim_amount['Mean'] = df['total_claim_amount'].mean()
central_tendency_total_claim_amount['Median'] = df['total_claim_amount'].median()
central_tendency_total_claim_amount['Mode'] = df['total_claim_amount'].mode()

central_tendency_total_claim_amount

{'Mean': 404.9869281045752,
 'Median': 354.73,
 'Mode': 0    321.6
 Name: total_claim_amount, dtype: float64}

In [21]:
cat = df.select_dtypes(exclude = 'number')
cat

,customer,st,gender,education,customer_lifetime_value,number_of_open_complaints,policy_type,vehicle_class
0,RB50392,Washington,NaN,Master,NaN,1/0/00,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,697953.59%,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,764586.18%,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,1/0/00,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# list(df['customer_lifetime_value'].unique())

In [27]:
df.education.unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [28]:
df.education.value_counts()

education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

In [31]:
df['customer_lifetime_value'].nunique()

1027

In [32]:
df.number_of_open_complaints.unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [33]:
df.number_of_open_complaints.value_counts()

number_of_open_complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [26]:
# Your code here
df.st.value_counts()

st
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [27]:
df['st'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [28]:
df.st=df.st.replace("WA", "Washington") #we are replacing WA for Washington to harmonise result
df.st=df.st.replace("AZ", "Arizona")
df.st=df.st.replace("Cali", "California")

In [29]:
df.st.value_counts()

st
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

In [30]:
# retrieve the top 5 less common locations in ascending order
locations = df['st'].value_counts()
less_common = locations.nsmallest(5)
less_common

st
Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: count, dtype: int64

In [31]:
#create a pandas series
data_location = {'Location': ['Nevada', 'Washington', 'Arizona', 'Oregon', 'California'],
                'Frequency': [98, 111, 211, 320, 331]}
df_location = pd.DataFrame(data_location)
df_location

     Location  Frequency
0      Nevada         98
1  Washington        111
2     Arizona        211
3      Oregon        320
4  California        331

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
# Your code here

In [66]:
df.policy_type.value_counts()

policy_type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [67]:
data_policy_type = {'Policy type': ['Personal Auto', 'Corporate Auto', 'Special Auto'],
                'Amount sold': [780, 234, 57]}
df_policy_type = pd.DataFrame(data_policy_type)
df_policy_type

      Policy type  Amount sold
0   Personal Auto          780
1  Corporate Auto          234
2    Special Auto           57

In [34]:
df.groupby('policy_type').monthly_premium_auto.sum()

policy_type
Corporate Auto     57022.0
Personal Auto     144847.0
Special Auto        5085.0
Name: monthly_premium_auto, dtype: float64

In [32]:
# This code was suggested by the AI of the campus 
# Create a pandas Series with the policy types and their total number of policies sold
policy_counts = df['Policy type'].value_counts()

# Retrieve the policy type with the highest number of policies sold
print(policy_counts.idxmax())

KeyError: 'Policy type'

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [71]:
# Your code here

df2 = df[['policy_type', 'income']]
df2

         policy_type   income
0      Personal Auto      0.0
1      Personal Auto      0.0
2      Personal Auto  48767.0
3     Corporate Auto      0.0
4      Personal Auto  36357.0
...              ...      ...
4003             NaN      NaN
4004             NaN      NaN
4005             NaN      NaN
4006             NaN      NaN
4007             NaN      NaN

[4008 rows x 2 columns]

In [75]:
income_mean = df2['income'].mean()
income_mean

39295.70121381886

In [79]:
personal_auto = df2.loc[df['policy_type'] == 'Personal Auto']
corporate_auto = df2.loc[df['policy_type'] == 'Corporate Auto']

In [86]:
income_personal_auto = personal_auto['income'].mean()
income_corporate_auto = corporate_auto['income'].mean()
print(f"Average income for Personal Auto policies: {round(income_personal_auto,2)}")
print(f"Average income for Corporate Auto policies: {round(income_corporate_auto,2)}")

Average income for Personal Auto policies: 38180.7
Average income for Corporate Auto policies: 41390.31

In [84]:
round(income_personal_auto,2)

38180.7

In [85]:
round(income_corporate_auto,2)

41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here